<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ccf2ff">
      <tbody><tr>
        <td rowspan="2" align="center" valign="middle" width="156"><a href="index.html"><img src="assets/college1.jpg" height="161" width="170"></a></td>
        <td class="nav" align="right" width="1109"><a href="index.html" class="nav">Home</a> | <a href="contact-us.html" class="nav">Contact us</a> | <a href="sitemap.html" class="nav">Sitemap</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
      </tr>
      <tr>
        <td style="line-height:1.7em" align="left" valign="middle"><div align="center"><span class="style2">ABDUL KALAM INSTITUTE OF TECHNOLOGICAL SCIENCES</span><br>
            <span class="style6">( Approved by AICTE, New Delhi &amp; Affiliated to JNTUH, Hyderabad, ISO 9001:2008 certified Institution )</span><em><br>
            </em><span class="style4"> EAMCET / ECET / ICET / DIPLOMA COUNSELING CODE : <strong><span class="style7">AKIT</span><br>
            Contact @ 9133397889 , 9866698961, 9133397888  </strong></span><span class="style9">, </span><span class="style8">E-mail@ akits.org@gmail.com </span><br> 
            <br>
            </div></td>
      </tr>
    </tbody></table>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          HOME
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"VISION",college_vision_path %></a>
          <a class="dropdown-item" <%= link_to"MISSION",college_mission_path %></a>
          <a class="dropdown-item" <%= link_to"QUALITY POLICY",college_qualitypolicy_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ABOUT US
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"MANAGEMENT",college_management_path %></a>
          <a class="dropdown-item" <%= link_to"SOCIETY",college_society_path %></a>
          <a class="dropdown-item" <%= link_to"CAMPUS VISIT",college_campusvisit_path %></a>
           <a class="dropdown-item" <%= link_to"STRENGTHS",college_strengths_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ACADEMICS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"ACADEMIC REGULATION",college_academicregulation_path %></a>
          <a class="dropdown-item" <%= link_to"ACADEMIC CALENDER",college_academiccalender_path %></a>
          <a class="dropdown-item" <%= link_to"INCENTIVES",college_incentives_path %></a>
           <a class="dropdown-item" <%= link_to"SOCIAL SERVICES",college_socialservices_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ADMISSIONS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"ADMISSION PROCEDURE",college_admissionprocedure_path %></a>
          <a class="dropdown-item" <%= link_to"COURSES OFFERED",college_coursesoffered_path %></a>
          <a class="dropdown-item" <%= link_to"FEE STRUCTURE",college_feestructure_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DEPARTMENTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"COMPUTER SCIENCE ENGINEERING",college_cse_path %></a>
          <a class="dropdown-item" <%= link_to"ELECTRICAL AND ELECTRONICS ENGINEERING",college_eee_path %></a>
          <a class="dropdown-item" <%= link_to"ELECTRONICS AND COMMUNICATION ENGINEERING",college_ece_path %></a>
           <a class="dropdown-item" <%= link_to"MECHANICAL ENGINEERING",college_mec_path %></a>
           <a class="dropdown-item" <%= link_to"CIVIL ENGINEERING",college_civ_path %></a>
          <a class="dropdown-item" <%= link_to"MINING ENGINEERING",college_min_path %></a>
          <a class="dropdown-item" <%= link_to"MASTER OF BUISINESS ADMINISTRATION",college_mba_path %></a>
           <a class="dropdown-item" <%= link_to"MASTER OF TECHNOLOGY",college_mtech_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FACILITIES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"LIBRARY",college_library_path %></a>
          <a class="dropdown-item" <%= link_to"DIGITAL LIBRARY",college_digitallibrary_path %></a>
          <a class="dropdown-item" <%= link_to"INTERNET",college_internet_path %></a>
           <a class="dropdown-item" <%= link_to"ENGLISH LAB",college_englishlab_path %></a>
           <a class="dropdown-item" <%= link_to"COUNSELLING",college_counselling_path %></a>
          <a class="dropdown-item" <%= link_to"SEMINAR HALL",college_seminarhall_path %></a>
          <a class="dropdown-item" <%= link_to"SPORTS",college_sports_path %></a>
           <a class="dropdown-item" <%= link_to"GIRLS HOSTEL",college_girlshostel_path %></a>
           <a class="dropdown-item" <%= link_to"BOYS HOSTEL",college_boyshostel_path %></a>
           <a class="dropdown-item" <%= link_to"TRANSPORTATION",college_transportation_path %></a>
          <a class="dropdown-item" <%= link_to"CANTEEN",college_canteen_path %></a>
          <a class="dropdown-item" <%= link_to"E-CLASS ROOM",college_eclassrooms_path %></a>
           <a class="dropdown-item" <%= link_to"TEMPLE IN COLLEGE",college_templeincollege_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PLACEMENTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"PLACEMNT RECORDS",college_placementrecords_path %></a>
          <a class="dropdown-item" <%= link_to"CRT PROGRAMS",college_crtprograms_path %></a>
          <a class="dropdown-item" <%= link_to"COMPANIES",college_companies_path %></a>
           <a class="dropdown-item" <%= link_to"NOTICE BOARD",college_noticeboard_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" <%= link_to"GALLERY",college_gallery_path %></a>
      </li>
     <li class="nav-item">
        <a class="nav-link" <%= link_to"CONTACT",college_contact_path %></a>
      </li>
    
    </ul>
    
  </div>
</nav>
<body>
<h3> ELECETRICAL AND ELECTRONIC ENGINEERING FACULTY </h3>
<P></P>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    B.Srikanth
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <img src="assets/images/colleg3.jpg">
                                <a href="assets/build.jpeg"  rel="group1" class="fancybox"><img class="img" src="assets/build.jpeg" alt="" width="105" height="136" /></a>
          <a class="dropdown-item" href="#">Name : B.Srikanth</a>
          <a class="dropdown-item" href="#">Designation : Associative Professor</a>
          <a class="dropdown-item" href="#">Qualification : B.Tech , M.Tech</a>
          
          <a class="dropdown-item" href="#">Specialization : Computer Science & Engg</a>
          <a class="dropdown-item" href="#">Experience : 2 Years</a>
          <a class="dropdown-item" href="#">Ph : 9133397897</a>
          
          
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
       
  </div>
</nav>
<style>

    <div id="posts">
            
              <!-- post -->
              <div>
                <h6>Computer Science &amp; Engineering Faculty</h6>
                <!-- shadow -->
          <div class="thumb-shadow">
                
                  <!-- post-thumb -->
          <!-- ENDS post-thumb -->
                  
<div class="the-excerpt">




        
              
                
      
      
      
<!--

    <h6 class="toggle-trigger"><a href="#"><strong>K.V.Pandu Ranga Rao  ( Professor & HOD )</strong></a></h6>
<div class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/kvpr.jpg"  rel="group1" class="fancybox"><img class="imgl" src="images/cse/kvpr.jpg" alt="" width="105" height="136" /></a>
              <p><span class="style2"><strong>Name : </strong></span>K. V. Pandu Ranga Rao<br/>
                <span class="style2"><strong>Designation : </strong></span> Professor & HOD <br/>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech.,(Ph.D)<br/>
                <span class="style2"><strong>Specialization :</strong></span> Computer Science & Engg<br/>
                <span class="style2"><strong>Experience :</strong></span> 16 Years<br/>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br/>
                  <span class="style2"><strong>Mail :</strong></span> <a href="mailto:pandukv@yahoo.com">pandukv@yahoo.com</a><br/>
              <p class="single"></p>
                                
                  </div>
        </div>
                        

    -->                        <h6 class="toggle-trigger"><a href="#"><strong>N. Venkateswara Rao  ( Associate Professor &amp; HOD )</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/N.Venkateswara-Rao-Associate-Professor.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/N.Venkateswara-Rao-Associate-Professor.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>N. Venkateswara Rao<br>
                <span class="style2"><strong>Designation : </strong></span>Associate Professor &amp; HOD<br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech.,(Ph.D)<br>
                <span class="style2"><strong>Specialization :</strong></span> Computer Science &amp; Engg<br>
                <span class="style2"><strong>Experience :</strong></span> 11 Years<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="mailto:nallanti2@gmail.com">nallanti2@gmail.com</a><br>
              </p><p class="single"></p>
                                
                  </div>
        </div>
                            <h6 class="toggle-trigger"><a href="#"><strong>SK. Yakoob ( Associate Professor )</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                                 <a href="images/cse/SK.Yakoob-Associate-Professor.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/SK.Yakoob-Associate-Professor.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>SK. Yakoob<br>
                <span class="style2"><strong>Designation : </strong></span>Associate Professor<br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech.,(Ph.D) <br>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 11 Years<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="mailto:yakoob_cs2004@yahoo.co.in">yakoob_cs2004@yahoo.co.in</a><br>
              </p><p class="single"></p>
                                
                                </div>
        </div>
              <h6 class="toggle-trigger"><a href="#"><strong>C. Dastagiraiah ( Associate Professor )</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                    <a href="images/cse/Professor-hod.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/Professor-hod.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>C. Dastagiraiah<br>
                <span class="style2"><strong>Designation :</strong></span> Associate Professor<br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech.,(Ph.D)<br>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 10 Years<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="mailto:dattu505@yahoo.co.in">dattu505@yahoo.co.in</a><br>
                  </p></div>
      </div>
<h6 class="toggle-trigger"><a href="#"><strong>T. Veeranna ( Associate Professor )  </strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/tv.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/tv.jpg" alt="" height="136" width="89"></a>
              <p><span class="style2"><strong>Name : </strong></span>T. Veeranna<br>
                <span class="style2"><strong>Designation : </strong></span>Associate Professor<br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech.,(Ph.D)<br>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 10 Years<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="mailto:veeru38@gmail.com">veeru38@gmail.com</a><br>
              </p><p class="single"></p>
                                
              </div>
        </div>
                         
              
<h6 class="toggle-trigger"><a href="#"><strong>CH. Bala Krishna ( Assistant Professor )</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                              
                 <a href="images/cse/chk.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/chbk.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>CH. Bala Krishna<br>
                <span class="style2"><strong>Designation : </strong></span>Assistant Professor<br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech.,(Ph.D)<br>
                <span class="style2"><strong>Specialization : </strong></span>SE<br>
                <span class="style2"><strong>Experience :</strong></span> 8  Years<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="mailto:balumtech@yahoo.com">balumtech@yahoo.com</a><br>
              </p><p class="single"></p>
                    
                              </div>
        </div>

<h6 class="toggle-trigger"><a href="#"><strong>K.NagaMani ( Assistant Professor )</strong></a></h6>
                             <div style="display: none;" class="toggle-container">
                  <div class="block">
                              
                 <a href="images/cse/knm.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/knm.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>K.NagaMani<br>
                <span class="style2"><strong>Designation : </strong></span>Assistant Professor<br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech<br>
                <span class="style2"><strong>Specialization : </strong></span>IT<br>
                <span class="style2"><strong>Experience :</strong></span>  9 Years<br>
          <span class="style2"><strong>Ph :</strong></span>08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="mailto:nagamani.csedept@gmail.com">nagamani.csedept@gmail.com</a><br>
              </p><p class="single"></p>
                    
                              </div>
        </div>


<h6 class="toggle-trigger"><a href="#"><strong>V. V. Siva Prasad ( Assistant Professor )</strong></a></h6>
                             <div style="display: none;" class="toggle-container">
                  <div class="block">
                              
                 <a href="images/cse/V.-V.-Siva-Prasad-Assistant-Professor.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/V.-V.-Siva-Prasad-Assistant-Professor.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>V. V. Siva Prasad<br>
                <span class="style2"><strong>Designation : </strong></span>Assistant Professor<br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech<br>
                <span class="style2"><strong>Specialization : </strong></span>CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 6 Years<br>
          <span class="style2"><strong>Ph :</strong></span>08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="mailto:vvsprasad1242@gmail.com">vvsprasad1242@gmail.com</a><br>
              </p><p class="single"></p>
                    
                              </div>
        </div>
<!--
<h6 class="toggle-trigger"><a href="#"><strong>SK.Dada Sharief( Assistant Professor)</strong></a></h6>
<div class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/sharief.jpg"  rel="group1" class="fancybox"><img class="imgl" src="images/cse/sharief.jpg" alt="" width="105" height="136" /></a>
              <p><span class="style2"><strong>Name : </strong></span>SK.Dada Sharief<br/>
                <span class="style2"><strong>Designation :</strong></span> Assistant Professor <br/>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech<br/>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br/>
                <span class="style2"><strong>Experience :</strong></span> 2 Years<br/>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br/>
                  <span class="style2"><strong>Mail :</strong></span> <a href="dadasharief@gmail.com">dadasharief@gmail.com</a><br/>
              <p class="single"></p>
                                
                </div>
        </div>
                           
-->
<h6 class="toggle-trigger"><a href="#"><strong>R. Lakshmi( Assistant Professor )</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/rlakshmi.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/rlakshmi.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>R. Lakshmi<br>
                <span class="style2"><strong>Designation :</strong></span> Assistant Professor  <br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech<br>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 1 Year<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="rama.lucky1991@gmail.com">rama.lucky1991@gmail.com</a><br>
              </p><p class="single"></p>
                                
                </div>
        </div>  


<h6 class="toggle-trigger"><a href="#"><strong>A.Nagarjuna( Assistant Professor )</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/anj.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/anj.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>A.Nagarjuna<br>
                <span class="style2"><strong>Designation :</strong></span> Assistant Professor  <br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech<br>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 1 Year<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="angidi.nagarjuna@gmail.com">angidi.nagarjuna@gmail.com</a><br>
              </p><p class="single"></p>
                                
                </div>
        </div>

<h6 class="toggle-trigger"><a href="#"><strong>T. Jyothi( Assistant Professor)</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/T. Jyothi.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/T. Jyothi.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>T. Jyothi<br>
                <span class="style2"><strong>Designation :</strong></span>  Assistant Professor <br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech<br>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 1 Year<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="janu.thalluri@gmail.com">janu.thalluri@gmail.com</a><br>
              </p><p class="single"></p>
                                
                </div>
        </div>             

<h6 class="toggle-trigger"><a href="#"><strong>B.GNANESWARI( Assistant Professor)</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/BGS.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/BGS.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span> B.GNANESWARI<br>
                <span class="style2"><strong>Designation :</strong></span> Assistant Professor <br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech<br>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 3 Year<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="bgs@gmail.com">bgs@gmail.com</a><br>
              </p><p class="single"></p>
                                
                </div>
        </div>

        <h6 class="toggle-trigger"><a href="#"><strong>B.SANTHOSH KUMAR( Assistant Professor)</strong></a></h6>
<div style="display: none;" class="toggle-container">
                  <div class="block">
                                
                                <a href="images/cse/BSK.jpg" rel="group1" class="fancybox"><img class="imgl" src="images/cse/BSK.jpg" alt="" height="136" width="105"></a>
              <p><span class="style2"><strong>Name : </strong></span>B.SANTHOSH KUMAR<br>
                <span class="style2"><strong>Designation :</strong></span> Assistant Professor <br>
              <span class="style2"><strong>Qualification :</strong></span> M.Tech<br>
                <span class="style2"><strong>Specialization :</strong></span> CSE<br>
                <span class="style2"><strong>Experience :</strong></span> 1 Year<br>
          <span class="style2"><strong>Ph :</strong></span> 08761-288278<br>
                  <span class="style2"><strong>Mail :</strong></span> <a href="bathinasanthosh@gmail.com">bathinasanthosh@gmail.com</a><br>
              </p><p class="single"></p>
                                
                </div>
        </div>
                           
                         
                             
                             
                           
                                                 

             
                    </div>    
                </div>
                <!-- ENDS shadow -->
              </div>
              <!-- ENDS post -->
              
              <!-- post -->
              
              <!-- ENDS post -->
    
            </div>