<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ccf2ff">
      <tbody><tr>
        <td rowspan="2" align="center" valign="middle" width="156"><a href="index.html"><img src="assets/college1.jpg" height="161" width="170"></a></td>
        <td class="nav" align="right" width="1109"><a href="index.html" class="nav">Home</a> | <a href="contact-us.html" class="nav">Contact us</a> | <a href="sitemap.html" class="nav">Sitemap</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
      </tr>
      <tr>
        <td style="line-height:1.7em" align="left" valign="middle"><div align="center"><span class="style2">ABDUL KALAM INSTITUTE OF TECHNOLOGICAL SCIENCES</span><br>
            <span class="style6">( Approved by AICTE, New Delhi &amp; Affiliated to JNTUH, Hyderabad, ISO 9001:2008 certified Institution )</span><em><br>
            </em><span class="style4"> EAMCET / ECET / ICET / DIPLOMA COUNSELING CODE : <strong><span class="style7">AKIT</span><br>
            Contact @ 9133397889 , 9866698961, 9133397888  </strong></span><span class="style9">, </span><span class="style8">E-mail@ akits.org@gmail.com </span><br> 
            <br>
            </div></td>
      </tr>
    </tbody></table>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          HOME
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"VISION",college_vision_path %></a>
          <a class="dropdown-item" <%= link_to"MISSION",college_mission_path %></a>
          <a class="dropdown-item" <%= link_to"QUALITY POLICY",college_qualitypolicy_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ABOUT US
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"MANAGEMENT",college_management_path %></a>
          <a class="dropdown-item" <%= link_to"SOCIETY",college_society_path %></a>
          <a class="dropdown-item" <%= link_to"CAMPUS VISIT",college_campusvisit_path %></a>
           <a class="dropdown-item" <%= link_to"STRENGTHS",college_strengths_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ACADEMICS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"ACADEMIC REGULATION",college_academicregulation_path %></a>
          <a class="dropdown-item" <%= link_to"ACADEMIC CALENDER",college_academiccalender_path %></a>
          <a class="dropdown-item" <%= link_to"INCENTIVES",college_incentives_path %></a>
           <a class="dropdown-item" <%= link_to"SOCIAL SERVICES",college_socialservices_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ADMISSIONS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"ADMISSION PROCEDURE",college_admissionprocedure_path %></a>
          <a class="dropdown-item" <%= link_to"COURSES OFFERED",college_coursesoffered_path %></a>
          <a class="dropdown-item" <%= link_to"FEE STRUCTURE",college_feestructure_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DEPARTMENTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"COMPUTER SCIENCE ENGINEERING",college_cse_path %></a>
          <a class="dropdown-item" <%= link_to"ELECTRICAL AND ELECTRONICS ENGINEERING",college_eee_path %></a>
          <a class="dropdown-item" <%= link_to"ELECTRONICS AND COMMUNICATION ENGINEERING",college_ece_path %></a>
           <a class="dropdown-item" <%= link_to"MECHANICAL ENGINEERING",college_mec_path %></a>
           <a class="dropdown-item" <%= link_to"CIVIL ENGINEERING",college_civ_path %></a>
          <a class="dropdown-item" <%= link_to"MINING ENGINEERING",college_min_path %></a>
          <a class="dropdown-item" <%= link_to"MASTER OF BUISINESS ADMINISTRATION",college_mba_path %></a>
           <a class="dropdown-item" <%= link_to"MASTER OF TECHNOLOGY",college_mtech_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FACILITIES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"LIBRARY",college_library_path %></a>
          <a class="dropdown-item" <%= link_to"DIGITAL LIBRARY",college_digitallibrary_path %></a>
          <a class="dropdown-item" <%= link_to"INTERNET",college_internet_path %></a>
           <a class="dropdown-item" <%= link_to"ENGLISH LAB",college_englishlab_path %></a>
           <a class="dropdown-item" <%= link_to"COUNSELLING",college_counselling_path %></a>
          <a class="dropdown-item" <%= link_to"SEMINAR HALL",college_seminarhall_path %></a>
          <a class="dropdown-item" <%= link_to"SPORTS",college_sports_path %></a>
           <a class="dropdown-item" <%= link_to"GIRLS HOSTEL",college_girlshostel_path %></a>
           <a class="dropdown-item" <%= link_to"BOYS HOSTEL",college_boyshostel_path %></a>
           <a class="dropdown-item" <%= link_to"TRANSPORTATION",college_transportation_path %></a>
          <a class="dropdown-item" <%= link_to"CANTEEN",college_canteen_path %></a>
          <a class="dropdown-item" <%= link_to"E-CLASS ROOM",college_eclassrooms_path %></a>
           <a class="dropdown-item" <%= link_to"TEMPLE IN COLLEGE",college_templeincollege_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PLACEMENTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to"PLACEMNT RECORDS",college_placementrecords_path %></a>
          <a class="dropdown-item" <%= link_to"CRT PROGRAMS",college_crtprograms_path %></a>
          <a class="dropdown-item" <%= link_to"COMPANIES",college_companies_path %></a>
           <a class="dropdown-item" <%= link_to"NOTICE BOARD",college_noticeboard_path %></a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" <%= link_to"GALLERY",college_gallery_path %></a>
      </li>
     <li class="nav-item">
        <a class="nav-link" <%= link_to"CONTACT",college_contact_path %></a>
      </li>
    
    </ul>
    
  </div>
</nav>
    <body>
    <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-95" src="assets/07.jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-95" src="assets/college2.jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-95" src="assets/colleg3.jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->